<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='styles.css' ) }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='game.js') }}" type="module"></script>

</head>

<body id="game">
    <canvas width="800" height="512"></canvas>
    <div id="outcome">
        <h2>Y o u L o s e !</h2>
        <nav>
            <a href="{{ url_for('index') }}">M e n u</a>
            <a href="{{ url_for('game')}}">T r y A g a i n ?</a>
        </nav>
    </div>
    <h3 id="score">S c o r e : </h3>

    
    
</body>
<!-- Sprite sheets used !!! -->
<!-- This was used for the background, enemies and player -->
<!-- https://pixel-poem.itch.io/dungeon-assetpuck -->

<!-- This was used for the potions -->
<!-- https://opengameart.org/content/rpg-potions-16x16 -->

</html>